In [ ]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv('Titanic-Dataset.csv')

### Missing Completly at Random (MCAR)
In this scenario missing values completely occur at 
random and there is no relationship between the missing
data and any other values in the dataset. That is there is no pattern.
 We can say that the probability of data being missing is the same for all observations.

#### 2. Missing at Random (MAR)
In this scenario, missing values do not occur at random but the pattern of missingness
could be explained by other observations. That is, the likelihood of a value missing in
the dataset could possibly be due to some other variables in the dataset.

#### Missing Not at Random (MNAR):

 In this case, the missing values are not random and cannot be explained by the observed data. 
 This could be challenging case as possible reason for the missingness are related to the unobserved data.

In [7]:
# How to know if the dataset has missing values?
# Missing values are usually represented in the form of Nan or null or None in the dataset.

df.info()
# dfinfo gives name dtype and count of all null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.isnull().sum()
# gives features with null values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Ways to deal with missing values

In [12]:
# 1. Deleting the column with missing data 
df = df.drop(['Cabin'],axis=1)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

###   Imputing missing values with mean/median of group

In [28]:
#Mean
df['Age'] = df['Age'].fillna(df.groupby('Pclass')['Age'].transform('mean'))
#Median
df['Age'] = df['Age'].fillna(df.groupby('Pclass')['Age'].transform('median'))

In [25]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64